<div class="d-flex align-items-center page-wrapper">
  <div class="container">
    <div class="text-center">
      <div class="title-mini">Welcome XXXXX XXXXX</div>
      <span>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet,
      </span>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid mt-4" style="max-height: 90%" src="../../../assets/images/upload.png" alt="">
      </div>
      <div class="col-md-6 d-flex align-items-center" style="flex-wrap: wrap;">
        <div class="upload-wrapper" (click)="uploadFile()">
          <i class="fas fa-cloud-upload-alt fa-3x"></i>
          <div class="mx-2" style="font-weight: bold">Click to upload your file</div>
        </div>
        <br>
        <div class="text-center" style="width: 100%">
          <button (click)="upload()" class="button button-primary">
            Upload File
          </button>
          <input id="upload-file" type="file" value="importer" style="display:none;"
                 (change)="onChangeFile($event)">
        </div>
      </div>
    </div>
  </div>
</div>
