@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* *************************************
   ************* VARIABLES *************
   ************************************* */

:root {
  --blue-color: #0895A4;
  --black-color: #3F4343;
  --second-blue-color: #48B4C6;
  --second-white-color: #F8F8F8;
  --red-color: #DA3A3A;

  --text-size: 16px;
  --title-size: 23px;
  --extra-title-size: 27px;
  --buttons-size: 18px;
}

/* *************************************
   ************** GENERAL **************
   ************************************* */

* {
  outline: none;
}
body {
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
}

.row-custom {
  display: flex;
  flex-wrap: wrap;
}

.blue-line {
  color: var(--blue-color);
  background-color: var(--blue-color);
  width: 50%;
  height: 3px;
  border-radius: 20px;
  margin: 10px 0;
}

.white-line {
  color: #ffffff;
  background-color: #ffffff;
  width: 80%;
  height: 2px;
  border-radius: 20px;
  margin: 10px 0;
}

.title-mini {
  color: var(--blue-color);
  font-weight: 700;
  font-size: var(--title-size);
}

.page-wrapper {
  min-height: 91vh;
  background: url("./assets/images/back-right.png") no-repeat;
  background-position: initial;
}

@media screen and (max-width: 850px) {
  .page-wrapper {
    background: transparent;
  }
}

.only-desktop {
  display: block;
}
@media screen and (max-width: 768px) {
  .only-desktop {
    display: none;
  }
}

.score-wrapper {
  background-color: var(--blue-color);
  color: var(--second-white-color);
  border: 2px solid var(--blue-color);
  padding: 5px 10px;
  font-weight: bolder;
  border-radius: 20px;
  float: right;
  transition: 0.3s all ease-in-out;
}

.score-wrapper:hover {
  background-color: var(--second-white-color);
  color: var(--blue-color);
  border: 2px solid var(--blue-color);
  transition: 0.3s all ease-in-out;
}

/* *************************************
   ************* SCROLLBAR *************
   ************************************* */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* *************************************
   ************** BUTTONS **************
   ************************************* */

.button {
  display: inline-block;
  padding: 5px 40px;
  border-radius: 20px;
  box-shadow: 0 6px 8px 0 rgba(0,0,0, 0.2);
  font-size: var(--buttons-size);
  transition: 0.3s all ease-in-out;
}
.button-primary  {
  font-weight: 500;
  background-color: var(--blue-color);
  border: 2px solid var(--blue-color);
  color: #ffffff;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.button-primary:hover {
  transition: 0.3s all ease-in-out !important;
  background: transparent !important;
  border: 2px solid var(--blue-color) !important;
  color: var(--blue-color) !important;
}

.button-primary:disabled {
  transition: 0.3s all ease-in-out !important;
  background-color: #ced3d4 !important;
  color: #000000 !important;
  border: 2px solid #ced3d4;
}


.sign-up-button {
  margin-top: 5px;
  background-color: transparent;
  color: var(--blue-color);
  font-size: var(--buttons-size);
  margin-left: auto;
  margin-right: 0;
}
.login-button {
  margin-left: 30px !important;
  margin-right: 0 !important;
  transition: 0.3s all ease-in-out !important;
  border: 2px solid var(--blue-color) !important;
}

.download-button {
  font-size: var(--text-size);
  font-weight: bold;
  background-color: transparent !important;
  border: 2px solid var(--blue-color);
  padding: 5px 25px !important;
}
.download-button:hover {
  background-color: var(--blue-color) !important;
  color: #ffffff;
  border: 2px solid var(--blue-color);
}

.transparent-button {
  background-color: transparent;
  border: 2px solid var(--blue-color);
  color: var(--blue-color);
  font-weight: bold;
  transition: 0.3s all ease-in-out;
}

.transparent-button:hover {
  background-color: var(--blue-color);
  border: 2px solid var(--blue-color);
  color: #ffffff;
}

.delete-button {
  background-color: transparent;
  border: 2px solid var(--red-color);
  color: var(--red-color);
  transition: 0.3s all ease-in-out;
}

.delete-button:hover {
  background-color: var(--red-color);
  border: 2px solid var(--red-color);
  color: #ffffff;
  transition: 0.3s all ease-in-out;
}

.button-search {
  background-color: #ffffff;
  border: 2px solid #ffffff !important;
  color: var(--blue-color);
  font-weight: bolder;
}

.button-search:hover {
  border: 2px solid #ffffff !important;
  color: #ffffff !important;
}

.button-search-primary {
  border: 2px solid var(--blue-color);
  transition: 0.3s all ease-in-out;
}

.button-search-primary:hover {
  font-weight: bolder;
  transition: 0.3s all ease-in-out;
}

.button-search-primary:disabled {
  opacity: 0.8;
  background-color: #888888;
  border: 2px solid #888888;
  transition: 0.3s all ease-in-out;
  cursor: not-allowed;
}

.button-search-primary:disabled:hover {
  opacity: 0.8;
  color: #ffffff;
  transition: 0.3s all ease-in-out;
  font-weight: normal;
}

/* *************************************
   ************** INPUTS ***************
   ************************************* */

.custom-input {
  padding: 10px 30px;
  border-radius: 15px;
  border: 1px solid var(--blue-color);
  box-shadow: 0 6px 8px 0 rgba(0,0,0, 0.2);
  transition: 0.3s all ease-in-out;
}

.custom-input:focus {
  background-color: var(--blue-color);
  box-shadow: 0 6px 8px 0 rgba(0,0,0, 0.4);
  color: #ffffff;
  transition: 0.3s all ease-in-out;
}

.custom-input::placeholder {
  transition: 0.3s all ease-in-out;
}

.custom-input:focus::placeholder {
  color: #ffffff;
  transition: 0.3s all ease-in-out;
}

.search-input {
  border-radius: 20px;
  border: 2px solid var(--blue-color);
  background-color: var(--second-white-color);
  margin-top: 10px;
  margin-bottom: -10px;
  padding: 5px 15px ;
  color: var(--blue-color);
  font-weight: bold;
  font-size: var(--text-size);
}
.search-input::placeholder {
  font-size: 13px;
}

.label {
  font-weight: bold;
  font-size: var(--buttons-size);
}

.alert-input-notice {
  transition: 0.3s all ease-in-out;
  color: firebrick;
  margin: 0 0 0 25px;
}

/* *************************************
   ************** CARDS ****************
   ************************************* */

.card-dashboard {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  border-radius: 19px;
  background-color: #ffffff;
  padding: 15px;
  transition: 0.3s all ease-in-out;
  border: 12px solid #ffffff;
}

/* *************************************
   ********** GENERAL HEADER ***********
   ************************************* */

.img-avatar {
  max-height: 40px;
  float: right;
}

/* *************************************
   ************* DROPDOWN **************
   ************************************* */

.profile-dropdown {
  padding: 10px;
  color: var(--blue-color);
  font-size: var(--text-size);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.profile-dropdown:hover {
  color: #000000;
  transition: 0.3s all ease-in-out;
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-item {
  transition: 0.3s all ease-in-out;
}

.dropdown-item:hover {
  transition: 0.3s all ease-in-out;
  background-color: var(--blue-color);
  color: #ffffff;
}
