<ng-sidebar-container style="height: 100vh;">
  <!-- A sidebar -->
  <ng-sidebar class="text-center" [(opened)]="opened" [mode]="mode">
    <div class="col-12 vivify fadeIn">
      <img style="  margin-top: -20px; max-height: 50px; cursor: pointer" src="../../../assets/images/toggle.png"
           alt="a" (click)="_toggleSidebar()">
    </div>
    <button class="button button-primary download-button mx-3 vivify fadeIn delay-150" (click)="exportOutput()">Export Output</button>
    <label>
      <input type="text" class="search-input vivify fadeIn delay-250" (ngModelChange)="filterRows($event)" [(ngModel)]="searchString"
             placeholder="Search...">
    </label>
    <div class="d-flex align-items-center text-center justify-content-center mt-1 vivify fadeIn delay-350">
      <button (click)="toggleSearch('validated')"
              class="button button-primary button-search-primary mx-1 my-1"
              [ngClass]="{'button-search': searchSelected === 'validated'}"
              style="font-size: 11px; padding: 5px 10px">Validated
      </button>
      <button (click)="toggleSearch('non-validated')"
              class="button button-primary button-search-primary mx-1 my-1"
              [ngClass]="{'button-search': searchSelected === 'non-validated'}"
              style="font-size: 11px; padding: 5px 10px">Non Validated
      </button>
      <button (click)="toggleSearch('all')"
              class="button button-primary button-search-primary mx-1 my-1"
              [ngClass]="{'button-search': searchSelected === 'all'}"
              style="font-size: 11px; padding: 5px 10px">All
      </button>
    </div>
    <i *ngIf="searchString === ''" class="fas fa-search search-icon vivify fadeIn delay-350"></i>
    <div class="white-line mx-auto mt-4 vivify fadeIn delay-350"></div>
    <div class="records-wrapper vivify fadeIn delay-300" *ngIf="!isLoading">
      <div class="record-item vivify fadeIn"
           *ngFor="let record of filteredRecords;let i = index"
           (click)="selectRecord(i)"
           [ngClass]="{'record-item-active' : recordSelected === record}">
        <div class="text-center"
             style="white-space: nowrap; text-overflow: ellipsis; max-width: 250px; overflow: hidden;">
          <img style="max-height: 26px; float: right;" *ngIf=" record.icd10_item && record.icd10_item.validated"
               src="../../../assets/images/ok.png" alt="">
          {{i + 1}} - {{record.title}}
        </div>
      </div>
      <div *ngIf="!filteredRecords.length">
        <i style="color: #ffffff;" class="fas fa-folder-open fa-3x mt-5 vivify fadeIn"></i>
        <h6 class="font-weight-bold mt-4 px-3 vivify fadeIn" style="color: #ffffff;">Sorry, There is no records with this name.</h6>
      </div>
    </div>
    <ngx-spinner *ngIf="isLoading"
                 bdColor="rgba(255,255,255,0)"
                 size="medium"
                 color="#ffffff"
                 type="square-jelly-box"
                 [fullScreen]="false"
                 [name]="'spinner1'">
      <p class="mt-4 font-weight-bold" style="color: #ffffff"> Loading... </p>
    </ngx-spinner>
  </ng-sidebar>

  <ng-sidebar class="text-center" style="width: 50px !important;" [(opened)]="minimized" [mode]="'push'">
    <div class="d-flex text-center align-items-center justify-content-center" style="height: 90vh; cursor: pointer">
      <img class="image-toggle-sidebar" src="../../../assets/images/toggle.png" alt="a" (click)="_toggleSidebar()">
    </div>
  </ng-sidebar>


  <!-- Page content -->
  <div class="sidebar-content" ng-sidebar-content>
    <app-navbar-dashboard></app-navbar-dashboard>
    <app-record-item *ngIf="!isLoading && !lastRecord" (nextRecordEvent)="nextRecord()"
                     [windowsWidth]="windowsWidth" (validateNumber)="getValidatedNumber()"
                     [recordItem]="recordSelected"></app-record-item>
    <app-all-validated (downloadResults)="exportOutput()" *ngIf="!isLoading && lastRecord"></app-all-validated>
    <ngx-spinner *ngIf="isLoading"
                 bdColor="rgba(255,255,255,0)"
                 size="medium"
                 color="#0895a4"
                 type="square-jelly-box"
                 [fullScreen]="false"
                 [name]="'spinner2'">
      <p class="mt-4 font-weight-bold" style="color: #0895a4"> Loading... </p>
    </ngx-spinner>
  </div>

</ng-sidebar-container>
