
::ng-deep aside {
  background-color: #3F4343;
  padding: 2em 0;
}

:host >>> .ng-sidebar {
  max-width: 250px;
  min-width: 90px;
}

:host >>> .ng-sidebar__content {
  background-color: var(--second-white-color);
}

.sidebar-content {
  background-color: var(--second-white-color);
  height: 100vh;
  padding: 0 10px;
}
.demo-header {
  align-items: center;
  background: #0273d4;
  color: #fff;
  display: flex;
  padding: 1em;
}

.demo-header__toggle {
  background: transparent;
  border: 0.15rem solid #fff;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  font-size: 0;
  height: 1.5rem;
  margin-right: 1rem;
  position: relative;
  width: 2rem;
}
.demo-header__toggle:after {
  background: #fff;
  content: '';
  height: 0.15rem;
  left: 0;
  margin-top: -0.075rem;
  position: absolute;
  top: 50%;
  width: 100%;
}

.demo-sidebar.ng-sidebar--opened.ng-sidebar--over {
  box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}

.demo-contents {
  padding: 0 2em;
}

.demo-control {
  background-color: #f6f6f6;
  border: 1px solid #545555;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 0.5em 2em;
  transition: background-color 0.15s;
}
.demo-control:hover {
  background-color: #545555;
  color: #fff;
}

.records-wrapper {

}
.record-item {
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: var(--text-size);
  font-weight: bold;
  padding: 10px 10px;
  text-align: center;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.record-item:hover {
  background-color: var(--second-blue-color);
  color: #ffffff;
  transition: 0.3s all ease-in-out;
}

.record-item-active {
  color: var(--blue-color) !important;
  background-color: var(--second-white-color);
  transition: 0.3s all ease-in-out;
}

.record-item-active:hover {
  background-color: var(--second-white-color) !important;
}

.record-title {
  font-size: var(--title-size);
  font-weight: bold;
  color: var(--blue-color);
}

.infos-wrapper {
  padding: 10px 15px;
  border-radius: 19px;
  border: 2px solid var(--blue-color);
}

.tag-extracted-term {
  background-color: var(--blue-color);
  color: #ffffff;
  border-radius: 19px;
  padding: 8px 13px;
  margin: 5px 5px;
}

.cards-wrapper {
  padding-bottom: 30px;
  margin-top: 20px;
}

.label-title {
  color: var(--blue-color);
  font-weight: bold;
  font-size: var(--buttons-size);
  margin-left: 10px;
}
