<ng-sidebar-container style="height: 100vh;">

  <!-- A sidebar -->
  <ng-sidebar class="text-center" [(opened)]="opened" [mode]="mode">
    <div class="col-12">
      <img src="../../../assets/images/toggle.png" style=" margin-top: -20px; max-height: 50px; cursor: pointer"
           alt="a" (click)="_toggleSidebar()">
    </div>
    <button class="button button-primary download-button mx-3">Download Output</button>
    <label>
      <input type="text" class="search-input"  (ngModelChange)="filterRows($event)" [(ngModel)]="searchString" placeholder="Search...">
    </label>
    <i *ngIf="searchString === ''" class="fas fa-search search-icon"></i>
    <div class="white-line mx-auto mt-4"></div>
    <div class="records-wrapper" *ngIf="!isLoading">
      <div class="record-item"
           *ngFor="let record of filteredRecords;let i = index"
           (click)="selectRecord(i)"
           [ngClass]="{'record-item-active' : recordSelected === record}">
        <div class="text-center"
             style="white-space: nowrap; text-overflow: ellipsis; max-width: 200px; overflow: hidden;">
          {{i + 1}} - {{record.title}}
        </div>
      </div>
      <div *ngIf="!filteredRecords.length">
        <i style="color: #ffffff;" class="fas fa-folder-open fa-3x mt-5"></i>
        <h6 class="font-weight-bold mt-4 px-3" style="color: #ffffff;">Sorry, There is no records with this name.</h6>
      </div>
    </div>
    <ngx-spinner *ngIf="isLoading"
                 bdColor="rgba(255,255,255,0)"
                 size="medium"
                 color="#ffffff"
                 type="square-jelly-box"
                 [fullScreen]="false"
                 [name]="'spinner1'">
      <p class="mt-4 font-weight-bold" style="color: #ffffff"> Loading... </p>
    </ngx-spinner>
  </ng-sidebar>

  <ng-sidebar class="text-center" style="width: 50px !important;" [(opened)]="minimized" [mode]="'push'">
    <div class="d-flex text-center align-items-center justify-content-center" style="height: 90vh; cursor: pointer">
      <img src="../../../assets/images/toggle.png" style="max-height: 80px" alt="a" (click)="_toggleSidebar()">
    </div>
  </ng-sidebar>


  <!-- Page content -->
  <div class="sidebar-content" ng-sidebar-content>
    <app-navbar-dashboard></app-navbar-dashboard>
    <app-record-item *ngIf="!isLoading" (nextRecordEvent)="nextRecord()"  [recordItem]="recordSelected"></app-record-item>
    <ngx-spinner *ngIf="isLoading"
                 bdColor="rgba(255,255,255,0)"
                 size="medium"
                 color="#0895a4"
                 type="square-jelly-box"
                 [fullScreen]="false"
                 [name]="'spinner2'">
      <p class="mt-4 font-weight-bold" style="color: #0895a4"> Loading... </p>
    </ngx-spinner>
  </div>

</ng-sidebar-container>
