files:
  /etc/nginx/conf.d/elasticbeanstalk/nginx.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # here
      location / {
          root /var/app/current/PFA-Frontend/;
          try_files $uri$args $uri$args/ /index.html;
      }

      location /api {
          proxy_pass          http://127.0.0.1:8000;
          proxy_http_version  1.1;

          proxy_set_header    Connection          $connection_upgrade;
          proxy_set_header    Upgrade             $http_upgrade;
          proxy_set_header    Host                $host;
          proxy_set_header    X-Real-IP           $remote_addr;
          proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
      }


  /opt/elasticbeanstalk/hooks/configdeploy/post/99_kill_default_nginx.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe
      rm -f /etc/nginx/conf.d/elasticbeanstalk/00_application.conf
      service nginx stop
      service nginx start

container_commands:
  removeconfig:
    command: "rm -f /tmp/deployment/config/#etc#nginx#conf.d#elasticbeanstalk#00_application.conf /etc/nginx/conf.d/elasticbeanstalk/00_application.conf"
