<div class="cards-wrapper">
  <h4 class="record-title text-center">
    Record Validations
  </h4>
  <div class="card-dashboard mt-4 mx-5">
    <div class="row">
      <div class="col-md-6">
        <label class="label ml-3 mt-3">Title</label>
        <div class="infos-wrapper">
          {{recordItem.title}}
        </div>

        <label class="label ml-3 mt-3">Inclusion Criteria</label>
        <div class="infos-wrapper">
          {{recordItem.inclusion_criteria}}
        </div>

        <label class="label ml-3 mt-3">Extracted medical Terms</label>
        <div class="row" style="padding-right: 15px; padding-left: 15px;">
          <div class="tag-extracted-term" *ngFor="let tag of medicalTags">
            #{{tag}}
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <label class="label ml-3 mt-3">Research Summary</label>
        <div class="infos-wrapper">
          {{recordItem.research_summary}}
        </div>
      </div>
    </div>
  </div>
  <h4 class="mx-5 record-title mt-4">
    Record 1 Validations
  </h4>
  <div class="row mx-5">
    <div class="col-md-4 mt-2">
      <div class="card-dashboard">
        <h6 class="label-title">Top 1</h6>
        <label class="label ml-3 mt-1">Suggested ICD Chapter</label>
        <div class="infos-wrapper">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        </div>

        <label class="label ml-3 mt-3">Suggested ICD Name</label>
        <div class="infos-wrapper">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        </div>
        <div class="text-center mt-3">
          <button class="button button-primary login-button mx-auto">Accept</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-2">
      <div class="card-dashboard">
        <h6 class="label-title">Top 2</h6>
        <label class="label ml-3 mt-1">Suggested ICD Chapter</label>
        <div class="infos-wrapper">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        </div>

        <label class="label ml-3 mt-3">Suggested ICD Name</label>
        <div class="infos-wrapper">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        </div>
        <div class="text-center mt-3">
          <button class="button button-primary login-button mx-auto">Accept</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-2">
      <div class="card-dashboard">
        <h6 class="label-title">Top 3</h6>
        <label class="label ml-3 mt-1">Suggested ICD Chapter</label>
        <div class="infos-wrapper">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        </div>

        <label class="label ml-3 mt-3">Suggested ICD Name</label>
        <div class="infos-wrapper">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        </div>
        <div class="text-center mt-3">
          <button class="button button-primary login-button mx-auto">Accept</button>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <button class="button transparent-button">Accept All</button>
  </div>
</div>
