<div class="cards-wrapper">
  <h4 class="record-title text-center">
    Record Validations
  </h4>
  <div class="card-dashboard mt-4 mx-5">
    <div class="row">
      <div class="col-md-6">
        <label class="label ml-3 mt-3">Title</label>
        <div class="infos-wrapper">
          {{recordItem.title}}
        </div>

        <label class="label ml-3 mt-3">Inclusion Criteria</label>
        <div class="infos-wrapper">
          {{recordItem.inclusion_criteria}}
        </div>

        <label class="label ml-3 mt-3">Extracted medical Terms</label>
        <div class="row" style="padding-right: 15px; padding-left: 15px;">
          <div class="tag-extracted-term" *ngFor="let tag of medicalTags">
            #{{tag}}
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <label class="label ml-3 mt-3">Research Summary</label>
        <div class="infos-wrapper">
          {{recordItem.research_summary}}
        </div>
      </div>
    </div>
  </div>
  <h4 class="mx-5 record-title mt-4">
    ICD10 Validations ( Click to select )
  </h4>
  <div class="row mx-5">
    <div class="col-md-4 mt-4" *ngFor="let sugg of suggestionsNumber; let i = index">
      <div class="card-dashboard" [ngClass]="{'card-accepted' : isSuggAccepted(i)}">
        <h6 class="label-title">Top {{sugg}}</h6>
        <label class="label ml-3 mt-1" style="font-size: 15px; opacity: 0.7;">Chapter
          Code: {{recordItem.icd10_item.icd10_prediction[sugg].predicted_chapter_code}}</label>

        <label class="label ml-3 mt-1">Suggested ICD Chapter Name</label>
        <div class="infos-wrapper">
          {{recordItem.icd10_item.icd10_prediction[sugg].predicted_chapter_name}}
        </div>

        <label class="label ml-3 mt-3" style="font-size: 15px; opacity: 0.7;">Block
          Code: {{recordItem.icd10_item.icd10_prediction[sugg].predicted_block_code}}</label>

        <label class="label ml-3 mt-1">Suggested ICD Block Name</label>
        <div class="infos-wrapper">
          {{recordItem.icd10_item.icd10_prediction[sugg].predicted_block_name}}
        </div>
        <div class="text-center mt-3">
          <button *ngIf="!isSuggAccepted(i)" class="button button-primary login-button mx-auto" (click)="acceptOnePrediction(i);">Accept</button>
          <button *ngIf="isSuggAccepted(i)" class="button button-primary delete-button mx-auto" (click)="deleteOnePrediction(i);">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <button class="button transparent-button" (click)="addSlice()">Show More Suggestions</button>
  </div>
  <div class="text-center mt-3">
    <button class="button"
            [ngClass]="{'transparent-button' : !allAccepted, 'delete-button' : allAccepted}"
            (click)="allAccepted ? deleteAll() : acceptAll()">{{allAccepted ? 'Delete All' : 'Accept All' }}</button>
  </div>
</div>
