<div class="all-validated-wrapper d-flex text-center align-items-center justify-content-center mt-3 vivify fadeIn"
     style="height: 80vh; flex-direction: column">
  <img class="img-fluid" style="max-height: 400px" src="../../../../assets/images/all-validated.png" alt="">
  <h2 class="font-weight-bold my-3">Congratulations! all the records are validated, you can download the results:</h2>
  <button (click)="downloadOutput()" class="button button-primary login-button my-2">Download Results</button>
</div>
