<div class="d-flex align-items-center login-page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid" src="../../../assets/images/login-img.png" alt="">
      </div>
      <div class="col-md-6">
        <h4 class="title-mini text-center my-2">Login</h4>
        <div class="text-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
        </div>
        <div class="form-login">
          <label class="label ml-5 mt-4">Email</label>
          <input name="email" type="text" class="custom-input col-12" placeholder="Email">
          <label class="label ml-5 mt-4">Password</label>
          <input name="password" type="password" class="custom-input col-12" placeholder="Password">
          <p class="go-to-sign-up mt-2">You don't have an account yet ? Sign Up</p>
          <div class="text-center">
            <button class="button button-primary mt-5">
              Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
