.login-page-wrapper {
  min-height: 91vh;
  background: url("../../../assets/images/back-right.png") no-repeat;
  background-position: initial;
}

.go-to-sign-up {
  font-size: var(--text-size);
  font-weight: bold;
  color: var(--blue-color);
}
