Mappings:
  CWLogs:
    QALogGroup:
      LogFile: "/tmp/api.log"
      TimestampFormat: "%a %b %d %H:%M:%S"


Outputs:
  QACWLogGroup:
    Description: "The name of the Cloudwatch Logs Log Group created for this environments web server error logs. You can specify this by setting the value for the environment variable: WebErrorCWLogGroup."
    Value: { "Ref": "AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0QALogGroup"}


Resources:
  AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0QALogGroup:
    Type: "AWS::Logs::LogGroup"
    DependsOn: AWSEBBeanstalkMetadata
    DeletionPolicy: Retain
    Properties:
      LogGroupName:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: QACWLogGroup
          DefaultValue: {"Fn::Join":["-", [{ "Ref":"AWSEBEnvironmentName" }, "qa"]]}
      RetentionInDays: 14


  ## Register the files/log groups for monitoring
  AWSEBAutoScalingGroup:
    Metadata:
      "AWS::CloudFormation::Init":
        CWLogsAgentConfigSetup:
          files:
            ## any .conf file put into /tmp/cwlogs/conf.d will be added to the cwlogs config (see cwl-agent.config)
            "/tmp/cwlogs/conf.d/qa.conf":
              mode: "000400"
              owner: root
              group: root
              content: |
                [qa_log]
                log_group_name = `{ "Ref" : "AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0QALogGroup" }`
                log_stream_name = qa
                datetime_format = `{"Fn::FindInMap":["CWLogs", "QALogGroup", "TimestampFormat"]}`
                file = `{"Fn::FindInMap":["CWLogs", "QALogGroup", "LogFile"]}`
