<div class="d-flex align-items-center page-wrapper mt-4">
  <div class="container">
    <h3 class="text-center font-weight-bold">Personal Projects</h3>
    <div class="project-cards-wrapper mt-4">
      <div class="col-12 mt-2">
        <div class="col-md-4">
          <div class="card">
            <h2>Card</h2>
            <hr/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex

            </p>g
            <button>Next</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
