@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* *************************************
   ************* VARIABLES *************
   ************************************* */

:root {
  --blue-color: #0895A4;
  --black-color: #3F4343;
  --second-blue-color: #48B4C6;
  --second-white-color: #F8F8F8;

  --text-size: 16px;
  --title-size: 23px;
  --extra-title-size: 27px;
  --buttons-size: 18px;
}

/* *************************************
   ************** GENERAL **************
   ************************************* */

* {
  outline: none;
}
body {
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
}

.row-custom {
  display: flex;
  flex-wrap: wrap;
}

.blue-line {
  color: var(--blue-color);
  background-color: var(--blue-color);
  width: 50%;
  height: 3px;
  border-radius: 20px;
  margin: 10px 0;
}

.white-line {
  color: #ffffff;
  background-color: #ffffff;
  width: 80%;
  height: 2px;
  border-radius: 20px;
  margin: 10px 0;
}

.title-mini {
  color: var(--blue-color);
  font-weight: 700;
  font-size: var(--title-size);
}

.page-wrapper {
  min-height: 91vh;
  background: url("./assets/images/back-right.png") no-repeat;
  background-position: initial;
}

.only-desktop {
  display: block;
}
@media screen and (max-width: 768px) {
  .only-desktop {
    display: none;
  }
}

/* *************************************
   ************* SCROLLBAR *************
   ************************************* */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* *************************************
   ************** BUTTONS **************
   ************************************* */

.button {
  display: inline-block;
  padding: 5px 40px;
  border-radius: 20px;
  box-shadow: 0 6px 8px 0 rgba(0,0,0, 0.2);
  font-size: var(--buttons-size);
  transition: 0.3s all ease-in-out;
}
.button-primary  {
  font-weight: 500;
  background-color: var(--blue-color);
  border: 1px solid var(--blue-color);
  color: #ffffff;
  transition: 0.3s all ease-in-out;
}

.button-primary:hover {
  transition: 0.3s all ease-in-out;
  background: transparent;
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
}

.download-button {
  font-size: var(--text-size);
  font-weight: bold;
  background-color: transparent !important;
  border: 2px solid var(--blue-color);
  padding: 5px 25px !important;
}
.download-button:hover {
  background-color: var(--blue-color) !important;
  color: #ffffff;
  border: 2px solid var(--blue-color);
}

/* *************************************
   ************** INPUTS ***************
   ************************************* */

.custom-input {
  padding: 10px 30px;
  border-radius: 15px;
  border: 1px solid var(--blue-color);
  box-shadow: 0 6px 8px 0 rgba(0,0,0, 0.2);
  transition: 0.3s all ease-in-out;
}

.custom-input:focus {
  background-color: var(--blue-color);
  box-shadow: 0 6px 8px 0 rgba(0,0,0, 0.4);
  color: #ffffff;
  transition: 0.3s all ease-in-out;
}

.custom-input::placeholder {
  transition: 0.3s all ease-in-out;
}
.custom-input:focus::placeholder {
  color: #ffffff;
  transition: 0.3s all ease-in-out;
}

.label {
  font-weight: bold;
  font-size: var(--buttons-size);
}

/* *************************************
   ********** GENERAL HEADER ***********
   ************************************* */

.img-avatar {
  max-height: 40px;
  float: right;
}

/* *************************************
   ************* DROPDOWN **************
   ************************************* */

.profile-dropdown {
  padding: 10px;
  color: var(--blue-color);
  font-size: var(--text-size);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.profile-dropdown:hover {
  color: #000000;
  transition: 0.3s all ease-in-out;
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-item {
  transition: 0.3s all ease-in-out;
}

.dropdown-item:hover {
  transition: 0.3s all ease-in-out;
  background-color: var(--blue-color);
  color: #ffffff;
}
