@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* *************************************
   ************* VARIABLES *************
   ************************************* */

:root {
  --blue-color: #0895A4;
  --black-color: #3F4343;
  --second-blue-color: #48B4C6;

  --text-size: 16px;
  --title-size: 23px;
  --extra-title-size: 27px;
  --buttons-size: 18px;
}

/* *************************************
   ************** GENERAL **************
   ************************************* */

* {
  outline: none;
}
body {
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
}

.row-custom {
  display: flex;
  flex-wrap: wrap;
}

.blue-line {
  color: var(--blue-color);
  background-color: var(--blue-color);
  width: 50%;
  height: 3px;
  border-radius: 20px;
  margin: 10px 0;
}

.title-mini {
  color: var(--blue-color);
  font-weight: 700;
  font-size: var(--title-size);
}

.page-wrapper {
  min-height: 91vh;
  background: url("./assets/images/back-right.png") no-repeat;
  background-position: initial;
}

/* *************************************
   ************** BUTTONS **************
   ************************************* */

.button {
  display: inline-block;
  padding: 5px 40px;
  border-radius: 20px;
  box-shadow: 0 6px 8px 0 rgba(0,0,0, 0.2);
  font-size: var(--buttons-size);
  transition: 0.3s all ease-in-out;
}
.button-primary  {
  font-weight: 500;
  background-color: var(--blue-color);
  border: 1px solid var(--blue-color);
  color: #ffffff;
  transition: 0.3s all ease-in-out;
}

.button-primary:hover {
  transition: 0.3s all ease-in-out;
  background: transparent;
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
}

/* *************************************
   ************** INPUTS ***************
   ************************************* */

.custom-input {
  padding: 10px 30px;
  border-radius: 15px;
  border: 1px solid var(--blue-color);
  box-shadow: 0 6px 8px 0 rgba(0,0,0, 0.2);
  transition: 0.3s all ease-in-out;
}

.custom-input:focus {
  background-color: var(--blue-color);
  box-shadow: 0 6px 8px 0 rgba(0,0,0, 0.4);
  color: #ffffff;
  transition: 0.3s all ease-in-out;
}

.custom-input::placeholder {
  transition: 0.3s all ease-in-out;
}
.custom-input:focus::placeholder {
  color: #ffffff;
  transition: 0.3s all ease-in-out;
}

.label {
  font-weight: bold;
  font-size: var(--buttons-size);
}
